/* Стили для модалки с вопросами */

.question-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 26, 26, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  pointer-events: auto;
}

.question-modal__content {
  position: relative;
  background: #fff;
  width: calc(var(--vw) * 1440);
  height: calc(var(--vw) * 800);
  padding-top: calc(var(--vw) * 50);
  display: flex;
  justify-content: space-between;
  padding-left: calc(var(--vw) * 110);
  padding-right: calc(var(--vw) * 200);
}

.question-modal__close {
  position: absolute;
  right: calc(var(--vw) * 50);
  top: calc(var(--vw) * 50);
  width: calc(var(--vw) * 24);
  height: calc(var(--vw) * 24);
  background: url(../../assets/images/modal-close.svg) no-repeat center / cover;
  border: none;
  cursor: pointer;
}

.question-modal__heading {
  margin-bottom: calc(var(--vw) * 86);
  width: calc(var(--vw) * 620);
  display: flex;
  flex-direction: column;
  gap: calc(var(--vw) * 16);
}

.question-modal__subtitle {
  color: #FFDF59;
  font-size: calc(var(--vw) * 28);
  line-height: 110%;
  font-weight: 600;
}

.question-modal__title {
  font-size: calc(var(--vw) * 34);
  line-height: 110%;
  font-weight: 600;
} 

.question-modal__img-wrap {
  width: calc(var(--vw) * 330);
}

.question-modal__img {
  width: 100%;
  height: auto;
}

.question-modal__test {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(var(--vw) * 605);
  max-width: calc(var(--vw) * 690);
  width: 100%;
}

.question-modal__test-questions {
  display: flex;
  flex-direction: column;
  gap: calc(var(--vw) * 32);
}

.question-modal__test-question {
  display: flex;
  flex-direction: column;
  gap: calc(var(--vw) * 16);
  width: 100%;
}

.question-modal__test-option {
  display: flex;
  gap: calc(var(--vw) * 16);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.question-modal__test-input {
  /* Скрываем нативный input */
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.question-modal__test-mark {
  position: relative;
  min-width: calc(var(--vw) * 30);
  height: calc(var(--vw) * 30);
  border: calc(var(--vw) * 1) solid #1A1A1A;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  flex-shrink: 0;
}

/* Состояние выбранной кнопки */
.question-modal__test-input:checked + .question-modal__test-mark {
  border: calc(var(--vw) * 1) solid #FFDF59;
}

.question-modal__test-input:checked + .question-modal__test-mark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--vw) * 20);
  height: calc(var(--vw) * 20);
  background: #FFDF59;
  border-radius: 50%;
}

/* После ответа показываем маркер у всех опций */
.is-answered .question-modal__test-mark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--vw) * 20);
  height: calc(var(--vw) * 20);
  background: #FFDF59;
  border-radius: 50%;
}

/* Скрыть заголовок после ответа */
.is-answered .question-modal__heading {
  display: none !important;
}

.question-modal__test-text {
  font-size: calc(var(--vw) * 28);
  line-height: 110%;
}

.question-modal__test-explain {
  font-size: calc(var(--vw) * 24);
  line-height: 110%;
  font-style: italic    ;
  padding: 16px;
  border-radius: 8px;
}

.question-modal__test-question--right .question-modal__test-explain{
  background: rgba(54, 143, 90, 0.2);
}

.question-modal__test-question--wrong .question-modal__test-explain{
  background: rgba(243, 120, 95, 0.2);
}


.question-modal__test-btns {
  position: absolute;
  bottom: calc(var(--vw) * 50);
  right: calc(var(--vw) * 50);
  width: calc(var(--vw) * 840 );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Вспомогательный класс для скрытия */
.is-hidden {
  display: none !important;
}

/* Плавное появление ссылки "Помочь фонду" */
.link--hidden {
  opacity: 0;
  pointer-events: none;
}

.question-modal__test-question--right .question-modal__test-text{
  color: #368F5A !important;
}

.question-modal__test-question--right .question-modal__test-mark{
  border: 1px solid #368F5A !important;
}

.question-modal__test-question--right .question-modal__test-mark::after{
  background: #368F5A !important;
}

.question-modal__test-question--wrong .question-modal__test-text{
  color: #F3785F !important;
}

.question-modal__test-question--wrong .question-modal__test-mark{
  border: 1px solid #F3785F !important;
}

.question-modal__test-question--wrong .question-modal__test-mark::after{
  background: #F3785F !important;
}


@media (max-width: 1024px) {
  .question-modal {
    overflow-y: auto;
    align-items: flex-start;
  }

  .question-modal__content {
    margin-top: calc(var(--vw) * 20);
    width: calc(var(--vw) * 280);
    min-height: calc(var(--vw) * 528);
    height: auto;
    padding: calc(var(--vw) * 20);
    flex-direction: column;
    gap: calc(var(--vw) * 40);
    justify-content: flex-start;
    align-items: center;
  }

  .question-modal__close {
    width: calc(var(--vw) * 18);
    height: calc(var(--vw) * 16);
    right: calc(var(--vw) * 20);
    top: calc(var(--vw) * 20);
  }
  
  .question-modal__heading {
    margin-top: 0;
    margin-bottom: 0;
    gap: calc(var(--vw) * 10);
    width: 100%;
  }

  .question-modal__subtitle {
    font-size: calc(var(--vw) * 16);
  }

  .question-modal__title {
    font-size: calc(var(--vw) * 18);
    width: 100%;
  }

  .question-modal__img-wrap {
    width: calc(var(--vw) * 146);
    height: calc(var(--vw) * 96);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question-modal__test {
    height: auto;
    max-width: 100%;
    overflow-y: visible;
    padding-bottom: calc(var(--vw) * 100);
  }

  .question-modal__test-questions {
    gap: calc(var(--vw) * 24);
  }

  .question-modal__test-question {
    gap: calc(var(--vw) * 12);
  }

  .question-modal__test-option {
    gap: calc(var(--vw) * 10);
  }

  .question-modal__test-mark {
    min-width: calc(var(--vw) * 24);
    height: calc(var(--vw) * 24);
  }

  .question-modal__test-mark::after {
    width: calc(var(--vw) * 16) !important;
    height: calc(var(--vw) * 16) !important;
  }

  .question-modal__test-text {
    font-size: calc(var(--vw) * 14);
  }

  .question-modal__test-explain {
    font-size: calc(var(--vw) * 14);
  }

  .question-modal__test-btns {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: calc(var(--vw) * 20);
    gap: calc(var(--vw) * 10);
  }

  .question-modal__test-btns .action-button {
    width: 100%;
  }

  .question-modal__test-btns .link--hidden {
    display: none;
  }

}