.interactive-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  pointer-events: auto;
}

/* Базовая кнопка-точка */
.point-btn {
  position: relative;
  isolation: isolate; /* создаём собственный стек */
  width: calc(var(--vw) * 134);
  height: calc(var(--vw) * 134);
  border-radius: 50%;
  border: none;
  background: transparent; /* фон рисуем псевдоэлементом */
  color: #000;
  font-family: 'Rostov';
  font-size: calc(var(--vw) * 60);
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.point-btn__hover {
  position: absolute;
  bottom: calc(var(--vw) * -20);
  right: calc(var(--vw) * -15);
  width: calc(var(--vw) * 95);
  height: calc(var(--vw) * 83);
  background: url(../../assets/images/lapka.svg) no-repeat center / cover;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.point-btn:hover .point-btn__hover{
  opacity: 1;
}

/* Тень: позади кнопки, сдвинута вниз на 12px */
.point-btn::before {
  position: absolute;
  content: '';
  left: 0;
  top: calc(var(--vw) * 12);
  width: calc(var(--vw) * 134);
  height: calc(var(--vw) * 134);
  background: #000;
  border-radius: 50%;
  z-index: 0; /* ниже жёлтого круга */
}

/* Жёлтый круг: основной вид кнопки */
.point-btn::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: calc(var(--vw) * 134);
  height: calc(var(--vw) * 134);
  background: #FFDF59;
  border-radius: 50%;
  z-index: 1;
}

/* Пройденный тест: зелёный круг */
.point-btn.point-btn--completed::after {
  background: #D7E9DE;
}

/* Текст поверх всего */
.point-btn__text {
  position: relative;
  z-index: 2;
}
 
/* Вариант внешнего вида для второй кнопки */

.point-btn.variant-2 {
  width: calc(var(--vw) * 146);
  height: calc(var(--vw) * 135);
}

.point-btn.variant-2::before {
  display: none;
}

.point-btn.variant-2::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-sizing: border-box;
  background: url('../../assets/images/star-btn.svg') no-repeat center / cover;
}

.point-btn.variant-2.point-btn--completed::after {
  background: url('../../assets/images/star-btn-complited.svg') no-repeat center / cover;
}


@media (max-width: 1024px) {
  .point-btn {
    width: calc(var(--vw) * 76);
    height: calc(var(--vw) * 76);
    font-size: calc(var(--vw) * 32);
  }

  .point-btn::before,
  .point-btn::after {
    width: calc(var(--vw) * 76);
    height: calc(var(--vw) * 76);
  }

  .point-btn::before {
    top: calc(var(--vw) * 7);
  }

  .point-btn.variant-2 {
    width: calc(var(--vw) * 82);
    height: calc(var(--vw) * 76);
  }
}