.ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  pointer-events: none; /* Позволяем кликать только на интерактивные элементы */
}

.ui-layer button {
  pointer-events: auto; /* Включаем клики для кнопок */
}

.ui-layer a {
  pointer-events: auto; /* Включаем клики для кнопок */
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding-block: 0;
  padding-inline: calc((40 / 1920) * 100vw);
}

.header {
  margin-top: calc((38 / 1920) * 100vw);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__btn {
  margin-top: calc((10 / 1920) * 100vw);
  font-size: calc((24 / 1920) * 100vw);
  font-weight: 600;
  line-height: 110%;
  text-decoration: none;
  color: #000;
  border: none;
  padding-bottom: calc((8 / 1920) * 100vw);
  border-bottom: 3px solid #FFDF59;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__logo {
  width: calc((200 / 1920) * 100vw);
}

.header__logo img {
  width: 100%;
  height: auto;
}

.promo {
  margin-top: calc((241 / 1920) * 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc((40 / 1920) * 100vw);
}

.promo__title {
  max-width:  calc((722 / 1920) * 100vw);
  font-size: calc((80 / 1920) * 100vw);
  font-weight: normal;
  line-height: 80%;
  text-align: center;
}

.promo__text {
  max-width:  calc((606 / 1920) * 100vw);
  font-size: calc((28 / 1920) * 100vw);
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  color: #fff;
}

.promo__btns {
  display: flex;
  gap: calc((30 / 1920) * 100vw);
}

.promo__btn {
  width: calc((260 / 1920) * 100vw);
  height: calc((80 / 1920) * 100vw);
  background-color: #FFDF59;
  border-radius: 80px;
  font-size: calc((24 / 1920) * 100vw);
  font-weight: 600;
  line-height: 100%;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}